<%- show_long_message ||= false %>

<div class="commit">
  <div class="description"> 
    <div class="profile_image"><%= image_tag avatar(patch.author_email) %></div>

    <div class="author">
      <strong><%= patch.author_name %></strong> &lt;<%= patch.author_email%>&gt;
    </div>
    
    <div class="date"><%= format_date(patch.date) %></div>
    
    <%- if patch.comments.length > 0 %>
    <div class="comments"><%= pluralize(patch.comments.length, "comment") %></div>
    <%- end %>
  </div>
  
  <div class="info">
    <div class="sha">
      Commit <span><%= format_patch(patch)%></span>
    </div>
    <div class="parent">
      <%- begin %>
      Parent <span><%= format_patch(patch.parent) %>
      <%- rescue NoPatch => e %>
      <%- ensure %>
        </span>
      <%- end %>
    </div>

    <div class="tree">
      Tree &nbsp;&nbsp;<span><%= patch.tree %></span>
    </div>      
  </div>
  
  <%- if patch.tags.size > 0 -%>
  <span class="tags">
    <%- patch.tags.each do |tag| %>
      <span class="tag"><%= tag %></span>
    <%- end %>
  </span>
  <%- end -%>

  <div class="message">
   <%- if show_long_message %>
      <div class="message"><%= simple_format(patch.message) %></div>
    <%- else %>
      <div class="message"><%= link_to simple_format(patch.message.split("\n")[0]), repository_patch_url(patch.repository, patch) %></div>
    <%- end %>
  </div>

  <div style="clear: both"></div>
</div>
