<%- by_day(@patches).each do |day| %>
<div class="patches">
  <div class="day">
    <%= day.day.strftime("%Y-%m-%d") %>
  </div>

  <div class="parts">
    <%- day.patches.each do |patch|%>
      <%= render :partial => "patch", :object => patch %>
    <%- end %>
  </div>
</div>
<%- end %>

<%= @patches.number %>
<%= link_to("Prev", patches_url(:page => @patches.prev.number)) if @patches.prev? %>
<%= link_to("Next", patches_url(:page => @patches.next.number)) if @patches.next? %>