<%= link_to "Update the repository", {:controller => "update", :repository_id => @repository}, {:class => "update"} %>

<%- by_day(@patches).each do |day| %>
<div class="patches">
  <div class="day">
    <%= day.day.strftime("%Y-%m-%d") %>
  </div>

  <div class="parts">
    <%= render :partial => "patch", :collection => day.patches %>
  </div>
</div>
<%- end %>


<div id="paginator">
<%= link_to("<<<", repository_branch_patches_url(@repository, @repository.branch, :page => @patches.prev.number)) if @patches.prev? %>

<% @pager.each do |page| %>
  <% if page.number != @patches.number %>
    <%= link_to(page.number, repository_branch_patches_url(@repository, @repository.branch, :page => page.number)) %>
  <% else %>
    <span class="current"><%= @patches.number %></span>
  <% end %>
<% end %>

<%= link_to(">>>", repository_branch_patches_url(@repository, @repository.branch, :page => @patches.next.number)) if @patches.next? %>
</div>