
<%= render :partial => "patch", :locals => {:patch => @patch, :show_long_message => true}%>

<div>
<% @patch.diff.each do |block|%>
<%- if block.filename %>
</div>
<div class="patch">
  <div class="filename"><span><%= block.filename %></span></div>
<%- end %>
  <div class="lines">
    <table class="diff">
      <tr class="head">
        <td class="number">...</td>
        <td class="number">...</td>
        <td class="line"><%= block.size_info %></td>
      </tr>
  
      <%- i = 0 -%>
      <% block.lines.each do |line| %>
        <%- i += 1 -%>
        <%- comments = get_comments(@comments, block.number, i) -%>
    
        <tr class="<%= class_name(line, comments.length) %>">
          <td class="number"><%= link_to line.minus,
                                         new_comment_path(:block => block.number, :line => i),
                                         :remote => true if line.minus? %></td>
          <td class="number"><%= link_to line.plus,
                                         new_comment_path(:block => block.number, :line => i),
                                         :remote => true if line.plus? %></td>

          <td class="line"><%= link_to format_line(line.content).html_safe, 
                                       new_comment_path(:block => block.number, :line => i),
                                       :remote => true %></td>
        </tr>
        <tr class="info" style="display: none">
            <td></td>
            <td></td>
            <td>
              <div class="comments">
                <%- comments.each do |comment| %>
                  <%= render "comments/comment", :comment => comment %>
                <%- end %>   
              </div>
              <div class="reply">
              </div>
            </td>
          </tr>    
      <%- end %>
    </table>
  </div>
<% end %>

</div>