<!DOCTYPE html>
<html>
<head>
  <title>Reviewer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  
  <%= javascript_include_tag "patches" %>
  
  <%= csrf_meta_tag %>
</head>
<body>

<div class="mainpage">
  <%= yield %>
</div>

</body>
</html>
