<!DOCTYPE html>
<html>
<head>
  <title>Reviewer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "patches" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="flyer shadow">
  <div>

    <div class="title">
      <div class="image">
        <%= image_tag "nerd_guy_white.png", :height => "30px" %>
      </div>
      <div class="text"><a href="/">check.it</a></div>
    </div>

    <li>Messages (<%= @notifications.length %>)
      <ul>
        <% if @notifications.length > 0 %>
          <%- @notifications.each do |notification| %>
            <li><%= link_to format_notification(notification), notification_url(notification) %></li>
          <%- end %>
        <% else %>
          <li>No messages.</li>
        <% end %>
          <li><%= link_to "Previous notifications", notifications_url %></li>
      </ul>
    </li>


  </div>
  <div class="right">
    <li>
      <div class="text"><%= @user.username %></div>
      <div class="image"><%= image_tag avatar(@user.email), :height => "30px" %></div>
      <ul>
        <li><a href="/users/sign_out">Log out</a></li>
      </ul>
    </li>
  </div>
</div>


<div class="mainpage">

  <%- if @repository %>
  <div class="header">
    <div class="title"><%= link_to "/", "/" %> <%= link_to @page_title, repository_branch_patches_url(@repository, session[:branch_id]) || "" %></div>
    <div class="branches">
      <%= select_tag("branch_id", options_for_select(["Select branch"] + @repository.branches(:show => :only_names), session[:branch_id]))%>
      <%- @repository.branches.each do |c| %>
        <input type="hidden" id="branch_<%= c.repository.branch %>" value="<%= repository_branch_patches_path(c.repository, c.repository.branch) %>">
      <%- end %>
    </div>
    <div class="clear"></div>
  </div>
  <%- end %>


  <%= yield %>

</div>

</body>
</html>
