<!DOCTYPE html>
<html>
<head>
  <title>Reviewer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  
  <%= javascript_include_tag "patches" %>
  
  <%= csrf_meta_tag %>
</head>
<body>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>


<div class="mainpage">
  
  <div class="header">
    <div class="image"><%= image_tag "nerd_guy.png"%></div>
    <div class="title"><%= @page_title || "" %></div>
    <div class="branches">
      <%= select_tag("branch_id", options_for_select(["Select branch"] + @repository.branches(:show => :only_names), params[:branch_id]))%>
      <%- @repository.branches.each do |c| %>
        <input type="hidden" id="branch_<%= c.repository.branch %>" value="<%= repository_branch_patches_path(c.repository, c.repository.branch) %>">
      <%- end %>
    </div>
    <div class="clear"></div>
  </div>

  <%= yield %>
</div>

</body>
</html>
